<template>
  <div>
    <h1 class="l-heading">
      <span class="text-primary">Contact</span> Us
    </h1>
    <p>Please fill out the form below to contact us</p>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea type="text" name="message" id="message"/>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
  border-radius: 5px;
}

.form-group textarea {
  height: 200px;
}

/** To change blue border on input focus*/
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
</style>
