<template>
  <section id="contact-info" class="bg-dark">
    <hFeatureItem v-for="(feature, i) of features" :key="i" :feature="feature"/>
  </section>
</template>

<script>
import hFeatureItem from '../home/hFeatureItem';
export default {
  data: () => ({
    features: [
      {
        title: 'Location',
        icon: 'hotel',
        text: '50 Main st, Boston MA',
        bg: false
      },
      {
        title: 'Phone Number',
        icon: 'phone',
        text: '(617) 555-5555',
        bg: false
      },
      {
        title: 'Email',
        icon: 'envelope',
        text: 'frontdesk@hotelbt.co',
        bg: false
      }
    ]
  }),
  components: { hFeatureItem }
};
</script>

<style lang="scss" scoped>
#contact-info .box {
  border-bottom: #444 dotted 1px;
}
</style>
