<!-- DOCTYPE declaration are very different between html versions. But the main tag is 
    just doctype html 
    HEAD: information (meta about the page) includes the title that displays in the tab name,
    (how to dinamically rename the title?)
    BODY: the core content-->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta tags describe stuff about the page properties,  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- allows to see whole website no matter in what device width the website is rendered -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- What the user sees when the user searchs for this website -->
  <meta name="description" content="This is my website description">
  <meta name="keywords" content="web development, web design">
  <!-- with this the website is not indexed in the search engines -->
  <meta name="robots" content="NOINDEX, NOFOLLOW">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">

  <!-- most of the time what appears in search engines is the title -->
  <title>traversy-html-css</title>
</head>

<body>
  <div id="app" />
</body>

</html>