<template>
  <div>
    <div id="box-1">
      <h3>Box One</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Veritatis omnis eius consectetur asperiores numquam quos,
        nihil similique corrupti maiores voluptas?
      </p>
    </div>
    <br>
    <div id="box-2">
      <h3>Box Two</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Veritatis omnis eius consectetur asperiores numquam quos,
        nihil similique corrupti maiores voluptas?
      </p>
    </div>
    <br>
    <div id="box-3">
      <h3>Box Three</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Veritatis omnis eius consectetur asperiores numquam quos,
        nihil similique corrupti maiores voluptas?
      </p>
    </div>
    <br>
    <div id="box-4">
      <h3>Box Four</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Veritatis omnis eius consectetur asperiores numquam quos,
        nihil similique corrupti maiores voluptas?
      </p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, omnis neque aperiam deserunt officiis perspiciatis illo. Hic minima quasi repudiandae corporis at ab quos aut, unde sapiente, blanditiis delectus eligendi ad enim voluptas libero sit accusantium voluptatem porro! Ullam numquam sit ab eum magni incidunt reprehenderit vitae. Reprehenderit sit esse eligendi similique suscipit fugit maxime impedit est cumque soluta doloremque accusantium, dicta ducimus dolore voluptatem alias, quasi harum veniam aut earum magni mollitia. Totam culpa natus animi laudantium. Hic enim officiis dolore omnis, perspiciatis pariatur quidem reiciendis corrupti, rerum velit consectetur nulla at similique? Possimus earum laboriosam, fugit quos odio necessitatibus fugiat. Quam at error quia quibusdam modi necessitatibus praesentium maxime perferendis quasi nam corporis accusamus, animi omnis voluptatem impedit natus quae. Nostrum maiores quidem voluptatem voluptates, harum corporis laudantium. Illo sed voluptas, aliquam excepturi ex quod accusamus ipsum, aliquid explicabo minus necessitatibus animi eaque dolorum, rem consequatur cupiditate enim provident reprehenderit fugiat natus? Autem error architecto dolor maiores qui omnis nobis accusamus commodi earum! Officia maiores voluptate perspiciatis assumenda eos quidem neque, non cupiditate ipsa similique error ratione vel totam culpa adipisci ut aliquid dolores nostrum, quaerat illo expedita sapiente. Saepe, adipisci soluta. Obcaecati, in perspiciatis. Deleniti, ab. Minima est id, eligendi doloremque beatae enim impedit odit, molestiae earum rerum voluptatum, maxime porro perferendis dignissimos vero commodi corporis aliquid inventore. Deserunt repudiandae quisquam inventore dolore quos, reiciendis quibusdam facilis unde sunt neque voluptates nulla reprehenderit maiores perspiciatis, incidunt provident sed dignissimos dolores nisi. Earum soluta quidem sit, quos optio vitae reiciendis ut fugiat in nulla nisi quas assumenda ab ad quibusdam pariatur totam amet et quae beatae laboriosam facilis, expedita incidunt! Ab nesciunt corporis totam iste aspernatur tempora placeat harum, tenetur quos unde neque praesentium facere aliquam quo quasi, fugit vero quia natus magni delectus eligendi aperiam eos eaque. Ratione magni aperiam delectus neque, officia doloribus, ex quaerat eligendi incidunt laudantium beatae, unde odit provident sapiente adipisci recusandae totam voluptatem dicta esse veniam labore voluptas ad illum iste! Voluptatum mollitia eveniet, hic quia totam consequuntur provident eum blanditiis voluptates sequi voluptatibus itaque iste impedit quo. Quaerat culpa vitae corporis nemo nisi dolores ipsa corrupti optio. Accusantium quibusdam, quisquam quidem, adipisci perferendis debitis totam omnis excepturi consectetur vitae corporis quaerat modi, eaque possimus deserunt molestiae. Tenetur tempora a iste dolore eius dicta recusandae, dolores laudantium facilis ipsa porro inventore amet obcaecati! Nulla perferendis, tempora error vel nisi delectus hic sed itaque, molestiae iusto rem fuga minima minus maiores ipsa commodi sit quis quam, ea veritatis nobis porro ab culpa! Quidem vel laudantium omnis provident ullam possimus delectus unde architecto aut inventore in esse, ipsam dolorem laborum nobis reprehenderit tempore ducimus. Explicabo labore beatae perspiciatis dolor alias optio at, veritatis nihil. Quia perspiciatis temporibus ducimus qui minus, quas reprehenderit architecto expedita, tempore facilis harum iure neque eveniet maiores. Libero incidunt neque laboriosam minus totam modi maiores voluptatem fugiat! Eos veritatis odit, dolore explicabo delectus fugit sed voluptatibus quaerat in eveniet illum! Dicta quo velit possimus at molestias ea libero mollitia optio.</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
#box-1 {
  background-color: blanchedalmond;
  /* border: 3px solid red; */
  border-width: 3px;
  border-color: red;
  border-style: dashed;
  border-radius: 10px;
}

#box-2 {
  background: #333;
  color: #fff;
  border-top: #00f 3px solid;
  /* there can be radius without a border */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Images: png is meant to not have a background, it can be transparent 
jpeg, jpg cant have a transparent background*/
#box-3 {
  // background-image: url('../../assets/stars.jpg');
  // background-repeat: no-repeat;
  // /* Moves the image within the container, as coordenates, or with key words like center */
  // background-position: center;
  // /* states if the whole image will appear in the container. */
  // background-size: cover;

  /* all above declarations can be condensed in  a single line*/
  background: url('../../assets/stars.jpg') no-repeat center center/cover;

  color: #fff;
  width: 600px;
  height: 300px;
  /* background repeat if container is grander than the image */
}

#box-4 {
  background: url('../../assets/leaf.png') no-repeat center center;
  /* This fixes the image in relation of the whole page*/
  // background-attachment: fixed;
}
</style>
