<template>
  <div>
    <div class="box">
      <h3>Box One</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Veritatis omnis eius consectetur asperiores numquam quos,
        nihil similique corrupti maiores voluptas?
      </p>
    </div>
    <div class="box">
      <h3>Box Two</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Veritatis omnis eius consectetur asperiores numquam quos,
        nihil similique corrupti maiores voluptas?
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.box {
  background: #eee;
  border: 2px solid #777;
  width: 500px;
  /* padding on all sides */
  padding: 120px;

  /* padding per side (when having property override, the last declared, take priority) */
  // padding-top: 10px;
  // padding-right: 20px;
  // padding-bottom: 10px;
  // padding-left: 20px;

  /* padding shorthand = top right bottom left */
  padding: 10px 20px 10px 20px;

  /* even shorter = top/bottom left/right */
  padding: 10px 20px;

  /* margin on all sides Margin can be applied following the same rules as padding
  (about declaration). */
  margin: 20px;
}

.box p {
  margin: 0;
}

// .box h3 {
// }
// CSS Reset used to remove all the attr set by the user agent (default browser)
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
</style>
