<template>
  <div>
    <h1>Heading One</h1>
    <h2>Heading Two</h2>
    <h3>Heading Three</h3>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
h1 {
  /* Color Name */
  color: red;
}

h2 {
  /* red, green blue from zero (darkest) to 255 (brightest) */
  color: rgb(20, 100, 120);
}

h3 {
  /* most common way to color, hex 3 to 6 chars from 0 to f in hexadecimal,
  in same rgb order, equal values are a shade of grey */
  color: #ff6699;
}
</style>
