<template>
  <section id="emrem">
    <div id="box-1">
      <h3>Box One</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, tempore? Dolorum nulla est veniam similique aperiam exercitationem numquam blanditiis possimus.</p>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </li>
        <li>4</li>
      </ul>
    </div>
    <div id="box-2">
      <h3>Box Two</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit molestiae optio amet nisi illum asperiores odit quisquam provident suscipit non!</p>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#box-1 {
  font-size: 20px;
}

#box-1 p {
  font-size: 1.5em;
  padding: 1em;
}

#box-1 ul {
  font-size: 1.2em;
}

#box-2 h3 {
  /* html user agent font size is always 16px, so this will compute 32px, unless the root
  font-size is overwritten*/
  font-size: 2rem;
}

#box-2 p {
  font-size: 1.6rem;
  line-height: 1.7rem;
}
</style>
