<template>
  <div class="container-flex">
    <div class="item-flex">
      <h3>Item 1</h3>
    </div>
    <div class="item-flex">
      <h3>Item 2</h3>
    </div>
    <div class="item-flex">
      <h3>Item 3</h3>
    </div>
    <div class="item-flex">
      <h3>Item 4</h3>
    </div>
    <div class="item-flex">
      <h3>Item 5</h3>
    </div>
    <div class="item-flex">
      <h3>Item 6</h3>
    </div>
    <div class="item-flex">
      <h3>Item 7</h3>
    </div>
    <div class="item-flex">
      <h3>Item 8</h3>
    </div>
    <div class="item-flex">
      <h3>Item 9</h3>
    </div>
    <div class="item-flex">
      <h3>Item 10</h3>
    </div>
    <div class="item-flex">
      <h3>Item 11</h3>
    </div>
    <div class="item-flex">
      <h3>Item 12</h3>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.item-flex {
  background: #f4f4f4;
  border: #ccc solid 1px;
  padding: 1rem;
  text-align: center;
  flex: 1;
  margin: 0.75rem;
}

.container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-flex:first-child {
  flex: 1;
}
</style>

