<template>
  <div class="container-flex">
    <div class="item-flex item-1">
      <h3>Item 1</h3>
    </div>
    <div class="item-flex item-2">
      <h3>Item 2</h3>
    </div>
    <div class="item-flex item-3">
      <h3>Item 3</h3>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.item-flex {
  background: #f4f4f4;
  border: #ccc solid 1px;
  padding: 1rem;
  text-align: center;
  margin: 0.5rem;
  flex-basis: 200px;
}

.container-flex {
  display: flex;
  background: #555;
  /* OPTIONS: (Justify content works in the main axis. Defaults to flex-start)
  flex-start
  flex-end
  center
  space-between
  space-around
  space-evenly
  */
  justify-content: space-evenly;
  /* Align items is in the cross axis and for this to work in a row, the container
  must have a fixed height (align items default is stretch)
  OPTIONS:
  flex-start
  flex-end
  center
  baseline
  stretch
  */
  height: 600px;
  align-items: baseline;
  /* Align items in the cross axis when theres is extra space, ie, when there are more than two
  rows
  OPTIONS:
  flex-start
  flex-end
  center
  space-between
  space-around
  stretch
  */
  align-content: space-around;
}

.item-1 {
  order: 3;
}

.item-2 {
  /*Align single item in the cross axis
  OPTIONS:
  flex-start
  flex-end
  center
  baseline
  stretch
  */
  align-self: center;
  order: 2;
}

.item-3 {
  order: 1;
}
</style>
