<template>
  <div class="container">
    <div id="box-1" class="box">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi. Est molestiae ex atque harum vel neque ab ipsa rerum!</p>
    </div>
    <div id="box-2" class="box">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi. Est molestiae ex atque harum vel neque ab ipsa rerum!</p>
    </div>
    <div id="box-3" class="box">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi. Est molestiae ex atque harum vel neque ab ipsa rerum!</p>
    </div>
    <div class="clear-fix"></div>
    <div id="box-4" class="box">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi. Est molestiae ex atque harum vel neque ab ipsa rerum!</p>
    </div>
  </div>
</template>


<script>
export default {};
</script>

<style scoped>
/* Old way of centering content (when responsive design was optional) */
.container {
  max-width: 960px;
  margin: 30px auto;
}
body {
  line-height: 1.4em;
  box-sizing: border-box;
}
.box {
  background: #f4f4f4;
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 15px;
}

.box p {
  text-align: justify;
}

#box-2 {
  float: left;
  width: 60%;
}

#box-3 {
  float: right;
  width: 30%;
}

/* To clear all floats to break lines*/
.clear-fix {
  clear: both;
}
</style>
