<template>
  <div>
    <ul>
      <!-- by default li are block elements -->
      <li>
        <a href="#">Technology</a>
      </li>
      <li>
        <a href="#">Business</a>
      </li>
      <li>
        <a href="#">Fashion</a>
      </li>
    </ul>
    <br>
    <br>
    <!-- Inline element. To center image convert it into a block element -->
    <img src="../../assets/leaf.png" alt="image">

    <div class="box">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam suscipit eos hic repudiandae vero vel in nesciunt dolores cumque aut?</p>
    </div>
    <div class="box">
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, qui commodi in saepe porro est consequuntur beatae voluptatum ex facilis.</p>
    </div>
    <div class="box">
      <h3>Heading</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium suscipit quae nobis consectetur! Veritatis ut, facilis eaque quod maxime ducimus?</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
li {
  display: inline;
}

li a {
  padding-right: 20px;
}

img {
  display: block;
  margin: auto;
}

.box {
  box-sizing: border-box;
  width: 32.8%;
  display: inline-block;
  background: #f4f4f4;
  padding: 20px;
  margin-bottom: 15px;
}
</style>
