<template>
  <div>
    <a class="btn" href="#">My link</a>
    <br>
    <br>
    <button class="btn">My button</button>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
a {
  color: #333;
  /* Removes underline */
  text-decoration: none;
}

/* a:hover {
  color: coral;
} */
/* Not pretty */
/* a:visited {
  color: red;
} */

a:active {
  color: red;
}

.btn {
  background: #4c6ca0;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: #f4f4f4;
  background: #446190;
}
</style>
