<template>
  <div id="container">
    <div class="form-wrap">
      <h1>Sign Up</h1>
      <p>It's free and only takes a minute</p>
      <form>
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" name="firstName" id="first-name">
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input type="text" name="lastName" id="last-name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
        </div>
        <div class="form-group" aria-autocomplete="new-password">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="pasword2" id="password2">
        </div>
        <button type="submit" class="btn">Sign Up</button>
        <p class="bottom-text">
          By clicking the Sign Up button, you agree to our
          <a href="#">Terms & Conditions</a> and
          <a href="#">Privacy Policy</a>
        </p>
      </form>
    </div>
    <footer>
      <p>
        Already have an account?
        <a href="#">Login Here</a>
      </p>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
/* side css notes
classes selectors override name tag, important override others styles but classes still have 
priority*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* 
        -May want to add "border-box for "box-sizing so padding does not affect width
        -Reset margin and padding 
       */
}

#container {
  font-family: 'Raleway', sans-serif;
  background-color: #344a72;
  color: #fff;
  line-height: 1.8em;
  /* 
          -Background color is #344a72
        */
}

a {
  text-decoration: none;
  /* 
        Underlined links are ugly :)
       */
}

#container {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  /* 
        -Remember, margin: auto on left and right will center a block element 
        -I would also set a "max-width" for responsiveness
        -May want to add some padding
        */
}

.form-wrap {
  background: #fff;
  padding: 15px 25px;
  color: #333;
  /* 
          This is the white area around the form and heading, etc
        */
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
  /* 
          May want to center these
        */
}

.form-wrap .form-group {
  margin-top: 15px;
  /* 
          Each label, input is wrapped in .form-group
        */
}

.form-wrap .form-group label {
  display: block;
  color: #666;
  /* 
          Label should be turned into a block element
        */
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  /* 
          Inputs should reach accross the .form-wrap 100% and have some padding
        */
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #49c1a2;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  /* 
          Button should wrap accross 100% and display as block
          Background color for button is #49c1a2
        */
}

.form-wrap button:hover {
  background: #37a08e;
  /* 
          Hover background color for button is #37a08e
        */
}

.form-wrap .bottom-text {
  font-size: 0.8em;
  margin-top: 20px;
  /* 
          Bottom text is smaller
        */
}

footer {
  text-align: center;
  margin-top: 10px;
  /* 
        Should be centered
       */
}

footer a {
  color: #49c1a2;
  /* 
          Footer link color is #49c1a2
        */
}
</style>
