<template>
  <section id="viewports">
    <div id="widescreen">
      <h1>Widescreen</h1>
    </div>
    <div id="normal">
      <h1>Normal</h1>
    </div>
    <div id="tablet">
      <h1>Tablet</h1>
    </div>
    <div id="smartphone">
      <h1>Smartphone</h1>
    </div>
    <div id="landscape">
      <h1>Landscape</h1>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#viewports {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: grey;
  color: white;
  text-align: center;
  padding-top: 100px;
}

h1 {
  display: none;
}

/* Adding a media query for smartphones */
@media (max-width: 500px) {
  #viewports {
    background: red;
  }
  #smartphone h1 {
    display: block;
  }
}
/* Tablets (and laptops) where the max-width is 768px generally.
  At first, this always still applies with the smartphone rules because of the 
  max-width but then we add the and, to target the previous rule and define a range*/
@media (min-width: 501px) and (max-width: 768px) {
  #viewports {
    background: blue;
  }
  #tablet h1 {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  #viewports {
    background: green;
  }
  #normal h1 {
    display: block;
  }
}

@media (min-width: 1201px) {
  #viewports {
    background: black;
  }
  #widescreen h1 {
    display: block;
  }
}

/* To target landscape mode. */
@media (max-height: 500px) {
  #viewports {
    background: orange;
  }
  #widescreen h1 {
    display: block;
  }
}

/* To add css stylesheet according to some media query without embeding it in the 
core css file, we can add a link in the main html with the media attr setting it to
media="screen and (max-width: 768px)"
*/
</style>
