<template>
  <div>
    <ul class="navbar">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <br>
    <br>
    <ul class="side-menu">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
/* Navbar styling */
.navbar {
  list-style: none;
  margin: 0px;
  padding: 0px;
  background: #4c6ca0;
  border-radius: 5px;
  /* avoid collapse of background when floating */
  overflow: auto;
}

.navbar li {
  float: left;
}

.navbar li a {
  /* To make block elements*/
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
}

.navbar li a:hover {
  background-color: #446190;
  color: #f4f4f4;
}

.side-menu {
  list-style: none;
  border: 1px #ddd solid;
  border-radius: 10px;
  width: 300px;
  /* By default lists have 40px left padding*/
  padding: 20px;
}

/* Target elements */
.side-menu li {
  font-size: 18px;
  line-height: 2.4em;
  border-bottom: dotted 1px #ddd;
}

.side-menu li a {
  text-decoration: none;
}

/* pseudo class to select the last child of the list*/
.side-menu li:last-child {
  border: none;
}

.side-menu li a:hover {
  color: coral;
}
</style>
