<template>
  <div style="height: 10000px;">
    <div class="box" id="box-1"></div>
    <div class="container">
      <div class="box" id="box-2"></div>
      <div class="box" id="box-3"></div>
    </div>
    <div class="box" id="box-4"></div>
    <div class="box" id="box-5"></div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.box {
  width: 100px;
  height: 100px;
}

/*By default all elements have position static
static: not affected by tblr (top, bottom, left, right) properties/values
relative: tblr values cause element to be moved from its normal position
absolute: positioned relative to its parent element that is positioned relative
fixed: positioned relative to the viewport
sticky: positioned based on scroll position
*/
.container {
  width: 500px;
  height: 500px;
  position: relative;
  background: #333;
}

#box-1 {
  position: relative;
  top: 50px;
  left: 50px;
  background: red;
  /* deepness value, the higher the value, the closer to the user*/
  z-index: 1;
}
#box-2 {
  position: absolute;
  top: 100px;
  left: 100px;
  background: yellow;
}
#box-3 {
  position: absolute;
  bottom: 100px;
  right: 100px;
  background: green;
}
#box-4 {
  background: blue;
  position: fixed;
}
#box-5 {
  background: orange;
  position: sticky;
  top: 0;
}
</style>
