<template>
  <div>
    <!-- Inline selectors: this should not be used, separation of concerns needed -->
    <!-- <h1 style="color: red">Heading One</h1>
    <h2>Heading Two</h2>
    <h3>Heading Three</h3>-->
    <div id="welcome">
      <h2 class="green-heading">Welcome</h2>
      <p>Lorem ipsum dolor sit amet
        <span>consectetur adipisicing elit.</span> Odit eaque aperiam rerum architecto quisquam et aliquam fuga molestiae, aut voluptatum nobis dolore atque suscipit fugit maiores quibusdam in impedit illo repellat dolorem quas mollitia iusto neque cumque? Ullam modi, nam distinctio autem, tempora vitae quis rem aperiam omnis atque voluptate.
      </p>
    </div>
    <div id="about">
      <h2>About</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        <span>Dolorum, vero?</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
/* Css units 
Absolutes
cm, mm, in, px, pt, pc, 
1px = 1/96th of an inch
1pt = 1/72th of an inch
1pc = 12pts (of ms font-size)

Relatives
em, rem, vh, vw, %
rem base is 16px (font defaul size in html)
*/

// This import leaks through the whole app
// @import url('./style.css');
// target classes with a dot, target ids with a hash
/** Naming conventions: to think if the element could change in the future,
*/

.green-heading {
  color: green;
}

#welcome {
  background-color: #f4f4f4;
}

/** Multiple selectors */
#welcome,
#about {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

/* Nested selector */
#welcome p {
  font-size: 20px;
}

#welcome p span {
  font-weight: bold;
}

#about p span {
  font-style: italic;
}
</style>
