<template>
  <header id="viewportHeader">
    <h1>Welcome to our website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quo porro ea asperiores error. Molestiae.</p>
    <a href class="btn-viewport">Find out more</a>
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#viewportHeader {
  background: #333 url('https://source.unsplash.com/daily') no-repeat center
    center/cover;
  color: #fff;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  padding-top: 20rem;
}

#viewportHeader h1 {
  font-size: 3rem;
}

#viewportHeader p {
  margin: 1rem 0;
}

.btn-viewport {
  display: inline-block;
  text-decoration: none;
  background: #f4f4f4;
  color: #333;
  padding: 0.75rem 3rem;
}
</style>
