<template>
  <div class="home">
    <appLayout/>
    <appLinksImages/>
    <appListsTables/>
    <appInputs/>
    <appBlockInline/>
  </div>
</template>

<script>
import appLayout from '../components/basics/Layout';
import appLinksImages from '../components/basics/LinksImages';
import appListsTables from '../components/basics/ListsTables';
import appInputs from '../components/basics/Inputs';
import appBlockInline from '../components/basics/BlockInline';

export default {
  name: 'basics',
  components: {
    appLayout,
    appLinksImages,
    appListsTables,
    appInputs,
    appBlockInline
  }
};
</script>
