<template>
  <div class="css">
    <!-- when importing a css file inside a component the style filter event though
    it has the scoped style-->
    <appSelector/>
    <appColors/>
    <appBackgroundsAndBorders/>
    <appBoxModel/>
    <appFloatAlign/>
    <appLinksButton/>
    <appMenus/>
    <appInline/>
    <appPosition/>
    <appLoginForm/>
    <appMediaQueries/>
    <appEmRem/>
    <appVhVw/>
    <appFlexbox/>
    <appFlexAlign/>
  </div>
</template>

<script>
import appSelector from '../components/css-basics/Selectors';
import appColors from '../components/css-basics/Colors';
import appBackgroundsAndBorders from '../components/css-basics/BackgroundBorders';
import appBoxModel from '../components/css-basics/BoxModel';
import appFloatAlign from '../components/css-basics/FloatAlign';
import appLinksButton from '../components/css-basics/LinksButtons';
import appMenus from '../components/css-basics/Menus';
import appInline from '../components/css-basics/InlineBlock';
import appPosition from '../components/css-basics/Position';
import appLoginForm from '../components/css-basics/LoginForm';
import appMediaQueries from '../components/css-basics/MediaQueries';
import appEmRem from '../components/css-basics/EmRem';
import appVhVw from '../components/css-basics/VhVw';
import appFlexbox from '../components/css-basics/Flexbox';
import appFlexAlign from '../components/css-basics/FlexAlign';

export default {
  name: 'cssBasics',
  components: {
    appSelector,
    appColors,
    appBackgroundsAndBorders,
    appBoxModel,
    appFloatAlign,
    appLinksButton,
    appMenus,
    appInline,
    appPosition,
    appLoginForm,
    appMediaQueries,
    appEmRem,
    appVhVw,
    appFlexbox,
    appFlexAlign
  }
};
</script>

