<template>
  <div>
    <hHeader/>
    <router-view/>
    <hFooter/>
  </div>
</template>

<script>
import hHeader from '../components/first-project/sub-components/hHeader';
import hFooter from '../components/first-project/sub-components/hFooter';

export default {
  name: 'hotel-website',
  created() {
    this.$emit('changeStyle', 'projectOne');
  },
  components: {
    hHeader,
    hFooter
  }
};
</script>

<style lang="scss" scoped>
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bgPrimary {
  background: #f7c08a;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}
.py-4 {
  padding: 40px 0;
}

@media (max-width: 768px) {
  .l-heading {
    text-align: center;
  }
}
</style>
