<template>
  <div>
    <edNavbar/>
    <edShowcase/>
    <edWhat/>
    <edWho/>
    <edClients/>
    <edContact/>
    <edFooter/>
  </div>
</template>

<script>
import edNavbar from '../components/second-project/edNavbar';
import edShowcase from '../components/second-project/edShowcase';
import edWhat from '../components/second-project/edWhat';
import edWho from '../components/second-project/edWho';
import edClients from '../components/second-project/edClients';
import edContact from '../components/second-project/edContact';
import edFooter from '../components/second-project/edFooter';

export default {
  name: 'edge-ledger',
  created() {
    this.$emit('changeStyle', 'projectTwo');
  },
  components: {
    edNavbar,
    edShowcase,
    edWhat,
    edWho,
    edClients,
    edContact,
    edFooter
  }
};
</script>
<style lang="scss">
a {
  text-decoration: none;
}

.ed-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.edBgDark {
  background: #333;
  color: #fff;
}

.edBgLight {
  background: #f4f4f4;
  color: #333;
}

.edBgPrimary {
  background: #93cb52;
  color: #fff;
}

.ed-text-center {
  text-align: center;
}

.ed-text-primary {
  color: #93cb52;
}

.ed-l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.ed-m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.ed-lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.ed-btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.ed-btn:hover {
  background: #7ab436;
}

.ed-btn-dark {
  background: #333;
  color: #fff;
}

.ed-py-1 {
  padding: 1.5rem 0;
}

.ed-py-2 {
  padding: 2rem 0;
}

.ed-py-3 {
  padding: 3rem 0;
}

.ed-p-1 {
  padding: 1.5rem;
}
.ed-p-2 {
  padding: 2rem;
}
.ed-p-3 {
  padding: 3rem;
}

.ed-list {
  margin: 0.5rem 0;
  list-style: none;
}

.ed-list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}
</style>
