<template>
  <div class="ed-item">
    <font-awesome-icon class="icon" :icon="feature.icon" size="3x"/>
    <h3 v-text="feature.title"/>
    <p v-text="feature.text"/>
  </div>
</template>

<script>
export default {
  props: ['feature']
};
</script>

<style lang="scss" scoped>
.ed-item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.ed-item .icon {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

@media (max-width: 1100px) {
  /* align items to left */
  .ed-item {
    display: flex;
    text-align: left;
  }

  .ed-item .icon {
    margin-right: 1.3rem;
  }
}
</style>
