<template>
  <div class="ed-who-text edBgDark ed-p-2">
    <h2 class="ed-m-heading">
      <span class="ed-text-primary">Who</span>
      We Are
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi qui assumenda dolores, inventore fugiat in vel officiis praesentium nemo recusandae laboriosam nisi quisquam nam magnam, eveniet perspiciatis cum repellat laudantium.</p>
    <h3>Our Team</h3>
    <ul class="ed-list">
      <li v-for="(member, i) of team" :key="i">{{ member.person }}: {{member.role}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data: () => ({
    team: [
      { person: 'Mark Smith', role: 'CEO' },
      { person: 'Shannon Johnson', role: 'CFO' },
      { person: 'John Corbit', role: 'Lead Accountant' },
      { person: 'Janet Williams', role: 'Investment Manager' },
      { person: 'Kiara Jackson', role: 'Senior Accountant' }
    ]
  })
};
</script>

<style lang="scss" scoped>
</style>
