<template>
  <div class="ed-who-img"></div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.ed-who-img {
  background: url('../../../assets/Two/people.jpg') no-repeat center
    center/cover;
}
</style>
