<template>
  <section id="features">
    <hFeatureItem v-for="(feature, i) of features" :key="i" :feature="feature"/>
  </section>
</template>

<script>
import hFeatureItem from './hFeatureItem';

export default {
  data: () => ({
    features: [
      {
        title: 'Great Location',
        icon: 'hotel',
        text:
          'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa voluptates natus soluta saepe sed vel.',
        bg: false
      },
      {
        title: 'Free Meals',
        icon: 'utensils',
        text:
          'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa voluptates natus soluta saepe sed vel.',
        bg: true
      },
      {
        title: 'Fitness Room',
        icon: 'dumbbell',
        text:
          'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa voluptates natus soluta saepe sed vel.',
        bg: false
      }
    ]
  }),
  components: { hFeatureItem }
};
</script>

<style lang="scss">
.box >>> .box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}
</style>
