<template>
  <div :class="{ box: true, bgPrimary: feature.bg }">
    <h3 v-text="feature.title"/>
    <font-awesome-icon class="icon" :icon="feature.icon" size="3x"/>
    <p v-text="feature.text"/>
  </div>
</template>

<script>
export default {
  props: ['feature']
};
</script>

<style lang="scss" scoped>
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}
.box .icon {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .box {
    float: none;
    width: 100%;
  }
}
</style>
