<template>
  <div class="info-content">
    <h2>
      <span class="text-primary">The History</span> Of Our Hotel
    </h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Eos tempore, laborum quia exercitationem maxime consequuntur
      sequi nihil distinctio nisi explicabo blanditiis,
      vero neque, rerum ex dolore placeat sit earum sed.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Eos tempore, laborum quia exercitationem maxime consequuntur
      sequi nihil distinctio nisi explicabo blanditiis,
      vero neque, rerum ex dolore placeat sit earum sed.
    </p>
    <router-link class="btn btn-light" to="/one/about">Read More</router-link>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

.info-content p {
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .info-content {
    float: none;
    width: 100%;
  }
}
</style>
