<template>
  <div class="info-img"></div>
</template>

<script>
export default {};
</script>
<style lang="scss" scoped>
.info-img {
  float: left;
  width: 50%;
  background: url('../../../../assets/One/photo-1.jpg') no-repeat;
  min-height: 100%;
}

@media (max-width: 768px) {
  .info-img {
    display: none;
  }
}
</style>
