<template>
  <section id="home-info" class="bg-dark">
    <infoLeft/>
    <infoRight/>
  </section>
</template>

<script>
import infoLeft from './hInfoLeft';
import infoRight from './hInfoRight';
export default {
  components: {
    infoLeft,
    infoRight
  }
};
</script>

<style lang="scss" scoped>
#home-info {
  height: 450px;
}

@media (max-width: 768px) {
  #home-info {
    height: 550px;
  }
}
</style>
