<template>
  <section id="showcase">
    <div class="container">
      <div class="showcase-content">
        <h1>
          <!-- Outside of the scope of the component cause is reused -->
          <span class="text-primary">Enjoy</span> your stay
        </h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Consectetur deserunt quasi fugit eveniet veniam perspiciatis?
        </p>
        <router-link class="btn" to="/one/about">About Our Hotel</router-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#showcase {
  background: url('../../../../assets/One/showcase.jpg') no-repeat center
    center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
</style>
