<template>
  <div class="info-left">
    <h1 class="l-heading">
      <span class="text-primary">About</span> Hotel BT
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eos veniam eius alias, quis debitis at suscipit recusandae accusamus? Unde maiores necessitatibus repellendus minus qui.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iusto, eaque fugiat voluptates distinctio maxime quo iure velit beatae labore.</p>
  </div>
</template>

<script>
export default {};
</script>


<style lang="scss" scoped>
.info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

@media (max-width: 768px) {
  .info-left {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
}
</style>
