<template>
  <div class="info-right">
    <img src="../../../../assets/One/photo-2.jpg" alt="hotel">
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

.info-right img {
  display: block;
  width: 70%;
  margin: auto;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .info-right {
    float: none;
    width: 100%;
  }
}
</style>
