<template>
  <section id="testimonials" class="py-3">
    <h2 class="l-heading">What our Guests Say</h2>
    <div class="container">
      <hTestimonialItem
        v-for="(testimonial, i) of testimonials"
        :key="i"
        :testimonial="testimonial"
      />
    </div>
  </section>
</template>

<script>
import hTestimonialItem from './hTestimonialItem';
export default {
  data: () => ({
    testimonials: [
      {
        img: '../../../../assets/One/person-1.jpg',
        alt: 'Samantha',
        text:
          'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro culpa suscipit quidem dolorum laudantium obcaecati, placeat optio esse nemo voluptatum dignissimos ullam corrupti ab et cum voluptate eius blanditiis sint architecto reiciendis! Vel, accusamus exercitationem quas assumenda cupiditate et voluptatem voluptas aliquam, a rerum vitae natus saepe odio obcaecati sed?'
      },
      {
        img: '../../../../assets/One/person-2.jpg',
        alt: 'Jen',
        text:
          'Lorem, ipsum dolor sit amet consectetur adipisicing elit. At omnis voluptatem obcaecati, quasi ipsa aliquam. Quas atque tempore impedit odit rem? Facilis officia, debitis veniam dignissimos nesciunt eius dolores aspernatur nulla ullam dolorum sapiente suscipit! Nam aperiam, quaerat autem aspernatur omnis adipisci, vero deleniti illo quo impedit doloribus quibusdam totam.'
      },
      {
        img: '../../../../assets/One/person-2.jpg',
        alt: 'Jen',
        text:
          'Lorem, ipsum dolor sit amet consectetur adipisicing elit. At omnis voluptatem obcaecati, quasi ipsa aliquam. Quas atque tempore impedit odit rem? Facilis officia, debitis veniam dignissimos nesciunt eius dolores aspernatur nulla ullam dolorum sapiente suscipit! Nam aperiam, quaerat autem aspernatur omnis adipisci, vero deleniti illo quo impedit doloribus quibusdam totam.'
      },
      {
        img: '../../../../assets/One/person-2.jpg',
        alt: 'Jen',
        text:
          'Lorem, ipsum dolor sit amet consectetur adipisicing elit. At omnis voluptatem obcaecati, quasi ipsa aliquam. Quas atque tempore impedit odit rem? Facilis officia, debitis veniam dignissimos nesciunt eius dolores aspernatur nulla ullam dolorum sapiente suscipit! Nam aperiam, quaerat autem aspernatur omnis adipisci, vero deleniti illo quo impedit doloribus quibusdam totam.'
      }
    ]
  }),
  components: {
    hTestimonialItem
  }
};
</script>

<style lang="scss" scoped>
#testimonials {
  background: url('../../../../assets/One/test-bg.jpg') no-repeat center
    center/cover;
  padding-top: 100px;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}
</style>
