<template>
  <div class="testimonial bgPrimary">
    <img src="../../../../assets/One/person-1.jpg" :alt="testimonial.alt">
    <p v-text="testimonial.text"></p>
  </div>
</template>

<script>
export default {
  props: ['testimonial']
};
</script>

<style lang="scss" scoped>
.testimonial {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  opacity: 0.8;
}
.testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
</style>
