<template>
  <section id="ed-clients" class="ed-py-1">
    <div class="ed-container">
      <h2 class="ed-m-heading ed-text-center">
        <span class="ed-text-primary">Our</span>
        Clients
      </h2>
      <div class="ed-client-imgs ed-py-1">
        <div v-for="(img, i) of images" :key="i">
          <!-- Way to dinamically represent a relative path to static assets -->
          <img :src="require(`@/assets/Two/logos/${img.path}`)" :alt="img.path">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    images: [
      { path: 'logo1.png' },
      { path: 'logo2.png' },
      { path: 'logo3.png' },
      { path: 'logo4.png' },
      { path: 'logo5.png' }
    ]
  })
};
</script>

<style lang="scss" scoped>
.ed-client-imgs {
  display: flex;
}

.ed-client-imgs img {
  display: block;
  margin: auto;
  width: 60%;
}

@media (max-width: 500px) {
  .ed-client-imgs img {
    width: 80%;
  }
  .ed-client-imgs div:last-child {
    display: none;
  }
}
</style>
