<template>
  <section id="ed-contact">
    <div class="ed-contact-form edBgPrimary ed-p-2">
      <div class="ed-container">
        <div class="ed-m-heading">Contact Us</div>
        <p>Please use the form below to contact us</p>
        <form>
          <div class="ed-form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter Name">
          </div>
          <div class="ed-form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter Email">
          </div>
          <div class="ed-form-group">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" id="phone" placeholder="Enter Phone Number">
          </div>
          <div class="ed-form-group">
            <label for="message">Message</label>
            <textarea name="mesage" id="message" placeholder="Enter your message"/>
          </div>
          <button v-text="'Send'" class="ed-btn ed-btn-dark"/>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#ed-contact {
  display: flex;
  justify-content: center;
}

#ed-contact .ed-contact-form {
  flex: 1;
}

.ed-contact-form .ed-form-group {
  margin: 0.75rem;
}

.ed-contact-form label {
  display: block;
}

.ed-contact-form input,
.ed-contact-form textarea,
.ed-contact-form button {
  width: 100%;
  padding: 0.5rem;
}
</style>
