<template>
  <footer id="main-footer" class="edBgDark ed-text-center ed-py-1">
    <div class="ed-container">
      <p>Copyright &copy; {{ new Date().getUTCFullYear()}}, EdgeLedger, All Rigths Reserved</p>
    </div>
  </footer>
</template>
