<template>
  <nav id="navbar">
    <router-link to="/">
      <h1 class="ed-logo">
        <span class="ed-text-primary">
          <font-awesome-icon class="icon" icon="book-open" size="1x"/>Edge
        </span>
        Legder
      </h1>
    </router-link>
    <ul>
      <li v-for="(link, i) of links" :key="i">
        <a :href="link.anchor" v-text="link.text" v-smooth-scroll="{ duration: 500, offset: -50}"/>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data: () => ({
    links: [
      { anchor: '#ed-showcase', text: 'Home' },
      { anchor: '#ed-what', text: 'What' },
      { anchor: '#ed-who', text: 'Who' },
      { anchor: '#ed-contact', text: 'Contact' }
    ]
  })
};
</script>

<style lang="scss" scoped>
#navbar {
  display: flex;
  // to keep the navbar in the top
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

.ed-logo h1 {
  color: #fff;
}

@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .ed-logo {
    margin-bottom: 0.75rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }
}
</style>
