<template>
  <header id="ed-showcase">
    <div class="ed-showcase-content">
      <h1 class="ed-l-heading">The sky is the limit</h1>
      <p
        class="ed-lead"
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere eligendi odio, doloribus quas temporibus debitis. Deleniti, quae! Odit minima sed iusto voluptatibus temporibus dolorem quisquam.</p>
      <a class="ed-btn" href>Read More</a>
    </div>
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#ed-showcase {
  background: #333 url('../../assets/Two/showcase.jpg') no-repeat center
    center/cover;
  height: 100vh;
  color: #fff;
}

.ed-showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* height defined to 100 percernt of its container*/
  height: 100%;
  padding: 0 2rem;
  /* Overlay in landing image */
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  #ed-showcase .ed-showcase-content {
    top: 110px;
  }
}
</style>
