<template>
  <section id="ed-who">
    <edWhoLeft/>
    <edWhoRight/>
  </section>
</template>

<script>
import edWhoLeft from './sub-components/edWhoLeft';
import edWhoRight from './sub-components/edWhoRight';
export default {
  components: {
    edWhoLeft,
    edWhoRight
  }
};
</script>

<style lang="scss" scoped>
#ed-who {
  display: flex;
}

#ed-who div {
  flex: 1;
}

@media (max-width: 500px) {
  #ed-who {
    display: block;
  }

  #ed-who edWhoLeft {
    display: none;
  }
}
</style>
