<template>
  <section id="ed-what" class="edBgLight ed-py-1">
    <div class="ed-container">
      <h2 class="ed-m-heading ed-text-center">
        <span class="ed-text-primary">What</span>
        We Do
      </h2>
      <div class="ed-items">
        <edFeatureItem v-for="(feature, i) of features" :key="i" :feature="feature"/>
      </div>
    </div>
  </section>
</template>

<script>
import edFeatureItem from './sub-components/edFeatureItem';
export default {
  data: () => ({
    features: [
      {
        title: 'Investment Banking',
        text:
          'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, reiciendis!',
        icon: 'university'
      },
      {
        title: 'Portfolio Management',
        text:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dolorum.',
        icon: 'book-reader'
      },
      {
        title: 'Tax & Custodial',
        text:
          'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, optio.',
        icon: 'pencil-alt'
      }
    ]
  }),
  components: {
    edFeatureItem
  }
};
</script>
<style lang="scss" scoped>
.ed-items {
  display: flex;
  padding: 1rem;
}
@media (max-width: 768px) {
  .ed-items {
    display: block;
    padding: 1rem;
  }
}
</style>
