<template>
  <div>
    <!-- Block elements: Will span across the full 100% width of the page
    Inline does not, the next thing will go right after it-->
    <!-- Blocks -->
    <p
      class="green"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia porro, et nam vero qui recusandae amet quibusdam modi quo rerum?</p>
    <p
      class="green"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia porro, et nam vero qui recusandae amet quibusdam modi quo rerum?</p>
    <!-- Inline -->
    <a class="red" href="#">A link</a>
    <a class="red" href="#">A link</a>
    <!-- Difference between classes and ids, funcional is the same references to that item
    to apply some style or attach some js for fuctionality-->
    <!-- Difference between div and spans, div block element, span inline element -->
    <!-- Entities escape characters to introduce special characters  -->
    <!-- Non braking space &nbsp; -->
    <p>Hello my name is &nbsp; Twireon</p>
    <p>5 > 2</p>
    <p>5 &gt; 2</p>
    <!-- Use of ascii to print some characters -->
    <p>5 &#64; 2</p>
    <p>&copy; Copyright</p>
    <p>&reg; Trademark</p>
    <p>&cent;</p>
    <p>&pound;</p>
    <p>&yen;</p>
    <!-- Computer code and Keyboard -->
    <code>new Vue({})</code>
    <p>
      Save file pressing
      <kbd>Ctrl + S</kbd>
    </p>

    <!-- Html semantic tags (header), footer, nav, main, section, article, aside
    they're important for accesibility-->
  </div>
</template>

<script>
export default {};
</script>

<style>
.green {
  border: 2px green solid;
}

.red {
  border: 2px red solid;
}
</style>
