<template>
  <form action>
    <div>
      <!-- for and id are to link the label and the input, not strictly necessary but good for
      accesibility, name to grab the value with a script-->
      <label for="name">Name</label>
      <br>
      <input id="name" type="text" name="name" value="John Doe">
    </div>
    <!-- Regular input -->
    <div>
      <label for="email">Email</label>
      <br>
      <input type="email" name="email" id="email" placeholder="Enter an email">
    </div>
    <!-- Text Area -->
    <div>
      <label for="message">Message</label>
      <br>
      <textarea name="message" id="message" cols="50" rows="10"/>
    </div>
    <!-- Select -->
    <div>
      <label for="sex">Sex</label>
      <br>
      <select name="sex" id="sex">
        <option value="male">Male</option>
        <option value="female" selected>Female</option>
        <option value="other">Other</option>
      </select>
    </div>
    <!-- Number -->
    <div>
      <label for="age">Age</label>
      <br>
      <input type="number" name="age" id="age">
    </div>
    <!-- Date -->
    <div>
      <label for="birthdate">Birth Date</label>
      <br>
      <input type="date" name="birthdate" id="birthdate">
    </div>
    <!-- Radio -->
    <div>
      <label for="membership">Membership</label>
      <br>
      <input type="radio" name="membership" id="membership" value="simple"> Simple
      <input type="radio" name="membership" id="membership" value="standard" checked> Standard
      <input type="radio" name="membership" id="membership" value="super"> Super
    </div>
    <!-- Checkbox -->
    <div>
      <label for="likes">I like</label>
      <br>
      <!-- Value is always the data that is sent to the server -->
      <input type="checkbox" name="likes" id="likes" value="reading"> Reading
      <input type="checkbox" name="likes" id="likes" value="learning" checked> Learning
      <input type="checkbox" name="likes" id="likes" value="gaming"> Gaming
    </div>
    <input type="submit" value="Submit">
    <!-- Using a button to submit and a reset to a untouched stage -->
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
</template>

<script>
export default {};
</script>

<style>
</style>
