<template>
  <div>
    <!-- headings It's better to just have one h1 per page -->
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>

    <!-- Paragraph
    strong and em are replacements to b and i, because they are semantic tags and not
    meant to be styling-->
    <p>
      Lorem, ipsum dolor sit amet consectetur
      <strong>adipisicing elit. Recusandae, doloribus!</strong> Eos sit labore molestiae voluptatem
      hic
      <em>alias maiores ipsa quas? Placeat aliquam qui earum deleniti</em> beatae laboriosam ex
      neque eveniet dicta odio numquam facilis,
      veniam nostrum tenetur at aut ea magni aperiam? Reiciendis autem sequi rerum,
      nemo magnam quidem animi quasi,
    </p>
    <!-- Horizontal rule (can't be embedded in a paragraph-->
    <hr>ea non quae inventore? Optio eligendi saepe vero
    assumenda voluptatibus voluptatum magnam commodi quas, quae similique animi
    molestias praesentium, sapiente dolorum mollitia culpa beatae, sit dolores quisquam
    voluptate impedit ipsa?
    <!-- Line break -->
    <br>
    <br>Optio eum ipsam, ratione, necessitatibus architecto esse enim corrupti laborum quisquam,
    in labore doloribus fugit maxime a at pariatur.
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
