<template>
  <div>
    <!-- Links are represented with an anchor tag, -->
    <p>
      <a href="http://google.com">Click for google</a>
    </p>
    <!-- target enable to select where the anchor will land, in this case, in a new tab -->
    <p>
      <a href="http://google.com" target="_black">Click for google</a>
    </p>

    <!-- Local image ref (it seems here you need to reference in a relative path) -->
    <img src="../../assets/logo.png" alt="logo">
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
