<template>
  <div>
    <!--  Unordered lists -->
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>

    <!-- Ordered list -->
    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ol>

    <!-- Nested lists -->
    <ul>
      <li>Item 1</li>
      <li>Item 2
        <ul>
          <li>Nested Item 1</li>
          <li>Nested Item 2</li>
        </ul>
      </li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>

    <!-- Tables only for tabular data, never again for layout -->
    <table>
      <!-- Table head -->
      <thead>
        <!-- Table row -->
        <tr>
          <!-- Table header -->
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <!-- Table row -->
        <tr>
          <!-- Table data (each cell) -->
          <td>John</td>
          <td>Doe</td>
          <td>jdoe@example.com</td>
        </tr>
        <tr>
          <td>Kate</td>
          <td>Smith</td>
          <td>kate@example.com</td>
        </tr>
        <tr>
          <td>Jeff</td>
          <td>Wilson</td>
          <td>jeff@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
