<template>
  <section id="about-info" class="bg-light">
    <div class="container py-3">
      <hInfoLeft/>
      <hInfoRight/>
      <div class="clr"/>
    </div>
    <hTestimonials/>
  </section>
</template>

<script>
import hInfoLeft from './sub-components/about/hInfoLeft';
import hInfoRight from './sub-components/about/hInfoRight';
import hTestimonials from './sub-components/about/hTestimonials';

export default {
  components: {
    hInfoLeft,
    hInfoRight,
    hTestimonials
  }
};
</script>
