<template>
  <section id="contact-form" class="py-3">
    <div class="container">
      <hForm/>
    </div>
    <hInfo/>
  </section>
</template>

<script>
import hForm from './sub-components/contact/hForm';
import hInfo from './sub-components/contact/hInfo';
export default {
  components: { hForm, hInfo }
};
</script>
