<template>
  <div>
    <hShowcase/>
    <hInfoCont/>
    <hFeatures/>
    <!-- Clear fix for floating boxes in the features -->
    <div class="clr"/>
  </div>
</template>

<script>
import hShowcase from './sub-components/home/hShowcase';
import hInfoCont from './sub-components/home/hInfoCont';
import hFeatures from './sub-components/home/hFeatures';
export default {
  components: {
    hShowcase,
    hInfoCont,
    hFeatures
  }
};
</script>