<template>
  <footer id="main-footer">
    <p>Hotel BT &copy; {{ (new Date()).getUTCFullYear() }}</p>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}
</style>
