<template>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo">
          <router-link to="/" v-text="'HBT'"/>
        </h1>
        <ul>
          <li>
            <router-link to="/one" exact v-text="'Home'"/>
          </li>
          <li>
            <router-link to="/one/about" v-text="'About'"/>
          </li>
          <li>
            <router-link to="/one/contact" v-text="'Contact'"/>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#navbar {
  background: #333;
  color: #fff;
  /* background shows no matter what */
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar li a:hover,
#navbar li a.router-link-active {
  background: #444;
  color: #f7c08a;
}

@media (max-width: 768px) {
  #navbar .logo {
    float: none;
    text-align: center;
  }

  #navbar ul,
  #navbar ul li {
    float: none;
  }

  #navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
  }
}
</style>
