<template>
  <div class="app">
    <div id="nav" v-if="currentRoute === '/'">
      <router-link v-for="(link, i) of links" :to="link.path" :key="i" v-text="`| ${link.text} `"/>
    </div>
    <router-view v-else @changeStyle="apply"/>
  </div>
</template>

<script>
export default {
  data: () => ({
    links: [
      { path: '/html', text: 'HTML' },
      { path: '/css', text: 'CSS' },
      {
        path: '/one',
        text: 'Project One'
      },
      { path: '/two', text: 'Project Two' }
    ]
  }),
  computed: {
    currentRoute() {
      return this.$route.path;
    }
  },
  methods: {
    apply(project) {
      document.body.className = project;
    }
  }
};
</script>


<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0px;
  padding: 0px;
}

.projectOne {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

.projectTwo {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7rem;
}

.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
